extends ./layout.jade

block stylesheets
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/goldberg-versions.css')
	link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')

block content
	div.col-xs-12#page-content
		div.col-xs-12
			div#title
				h1: strong The Goldberg Variations, BWV 988
				h2 Composer: Johann Sebastian Bach, 1741
				p The Goldberg Variations is a work written for harpsichord consisting of an aria and a set of 30 variations.

		div.col-xs-12
			each group, groupIndex in goldbergContent
				div.box.col-xs-12
					//- ANCRE POUR LE SCROLL
					div.scroll-anchor
						div(id="versionGroup#{groupIndex}")
					div.title-box
						h4 #{group.blockName}
					each version in group.blockVersions
						div.content-box
							div.col-xs-12.col-sm-6.col-lg-4
								div.info-box-content
									div.perfomer-img-div(style='background-image:url("#{version.imageUrl}")')
										div.player-iframe
											iframe(src="#{version.spotifyIframe}" width="100%" height="380" frameborder="0" allowtransparency="true")
										if version.blackPlayer
											i.fa.fa-play-circle(aria-hidden="true")#play-black
										else
											i.fa.fa-play-circle(aria-hidden="true")
									div.comment-div
										a(href="#").votes
											i.fa.fa-sort-asc(aria-hidden="true")
											p= version.upvotesCount
										div.details
											p: strong #{version.performer}, #{version.date}
											p
												each keyword, index in version.keywords
													| #{keyword}
													if index < version.keywords.length - 1
														|, 
										a(href="#").comments
											div.commenticon
												i.fa.fa-comment-o(aria-hidden="true")#commentcolor
											div.commentcounter
												p= version.commentsCount

	//- SIDEBAR
	div#sidebar-container(data-spy="affix").col-sm-2
		a(href="#")#nav-open
			i.fa.fa-bars(aria-hidden="true")
		a(href="#")#nav-close
			i.fa.fa-times(aria-hidden="true")
		div#sidebar
			ul.nav.navbar-nav
				each group, groupIndex in goldbergContent
					li.sidebar-nav
						a.js-scrollTo.versioncategory(href="#versionGroup#{groupIndex}") #{group.blockName}
						ul.sidebar-dropdown
							each version in group.blockVersions
								li: a #{version.performer}, #{version.date}

block scripts
	script(type="text/javascript" src='/javascripts/main.js')
	script(type="text/javascript" src='/javascripts/goldberg-versions.js')

